<nav> 
    <a class="logo" href="/">
        <img src="..\static\images\logo.png" alt="logo" width="240" height="60"/>
    </a>
    <header>
        <ul class="navbar">
            <li><a href="{{url_for('home_bp.home')}}"> Home</a></li>
            <li><a href="{{url_for('games_bp.browse_games', page=1)}}">All Games</a></li>
            <li><a href="">Reviews</a></li>
            <li><a href="">Wishlist</a></li>
        </ul>
        <div class="search__container">
            <input type="text" id="search-box" placeholder="Search games...">
            <div id="search-results" class="search-dropdown"></div>
        </div>
    </header> 

    </nav>