<div class="search__container">
    <input type="text" class="search_bar" id="search-box" placeholder="Search games...">
    <div id="search-results" class="search-dropdown"></div>
</div>


<script>
    document.getElementById('search-box').addEventListener('keyup', function() {
    let query = document.getElementById('search-box').value;
    let resultsContainer = document.getElementById('search-results');

    if (query.length > 2) {
        fetch(`/search/${query}`)
            .then(response => response.json())
            .then(data => {
                resultsContainer.innerHTML = '';
                if (data.length > 0) {
                    data.forEach(game => {
                        var game_id = game.game_id;
                        var url = '/browse/' + game_id;
                        resultsContainer.innerHTML += 
                        `
                            <a href=${ url }><div class="search-result-item">
                                <img src="${game.image}" alt="${game.title}" width="100px">
                                ${game.title}
                            </div></a>
                        `
                    });
                    resultsContainer.style.display = 'block';  // Show the results
                } else {
                    resultsContainer.style.display = 'none';   // Hide if no results
                }
            });
    } else {
        resultsContainer.style.display = 'none';   // Hide if input is too short
    }
});
</script>