*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  body{
    width: 1060px;
    height: 100vh;
    margin: 0 auto;
    background-color: #151515;
    color: #d5d5d5;
    overflow-x:auto;
    overflow: visible;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  
  header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #677bc4;
    height: 40px;
    margin-top: -5px;
  }
  
  
  .navbar{
    list-style-type: none;
    padding: 0;
    margin: -20px;
    display: flex;  
  }
  
  .navbar li{
    margin: 0;
  }
  
  .navbar li a{
    transition: all 0.3s ease 0s;
    padding: 11px 20px;
  }
  
  .navbar li a:hover{
    color: #36393f;
    background-color: rgb(0, 0, 0);
  
  }
  
  li, a, button{
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    color: #dcddde;
    text-decoration: none;
  } 
  
  .logo{
    width: 100;
    height: 100;
    cursor:pointer;
  }
  
  
  footer{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #677bc4;
    height: 30px;
    font-size: 10px;
    margin-top: auto;
  }
  
  main{
    display: grid;
    border-style: solid;
    border-width: 1px;
    border: solid 1px #515151;
    height:auto;
  }
  
  
  #home{
    text-align: center;
    margin: 0 25px;
    font-size: 30px;
    font-weight: 700;
    color: #dcddde;
    text-decoration: none;
    
  }
  
  
  #p1{
    text-align: center;
    margin: 0 25px;
  }
  
  
  .games__table{
    border-spacing: 0;
    padding: 5px;
    width: 90%;
    margin:auto;
    overflow: scroll;
  }
  
  .games__table td,th{
    margin:0;
    padding:5px;
    border-bottom: 1px solid #515151;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #dcddde;
    text-decoration: none;
  }
  
  games.title{
    width:200px;
  }
  
  .games__table img{
    width: 200px;
  }
  
  #credits{
    text-align: center;
    float:right;
  }
  
  .container{
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 300px;
  
  }
  
  .game__sidebar{
    margin: 20px;
  }
  .game__sidebar a {
    align-self: left;
  }
  
  .game__sidebar p {
    text-align: left;
    font-size: 12px;
    padding: 5px;
    border-bottom: 1px solid #515151;
    max-width: 305px;
  }
  .game__about{
    font-size: 12px;
    padding: 20px;
  }
  
  
  .game__video{
    height: 250px;
    padding-top: 20px;
  }
  
  .game__video video{
    height: 250px;
    width: auto;
  }
  
  .pages{
    width: auto;
    font-size: 13px;
    margin-left: 50px;
    padding: 10px;  
  }
  
  #title{
    padding: 5px 15px;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    color: #dcddde;
    text-decoration: none;
    border-bottom: solid 1px #515151;
  
    
  }
  
  #game__image{
    display: block;
    width: 67%;
    height: auto;
    
  }
  
  .content{
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
  }
  
  .content p{
    padding: 10px;
  }
  
  h1{
    font-size: 14px;
  
  }  