*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  width: 1060px;
  height: 100vh;
  margin: 0 auto;
  background-color: #151515;
  color: #d5d5d5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

li, a, button{
  font-family: 'Roboto', sans-serif, cursive;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  color: #dcddde;
  text-decoration: none;
} 

.navbar{
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #677bc4;  
}
.navbar li{
  display: flex;
  align-self: center;
  margin: 0 25px;
}

.navbar li a{
  transition: all 0.3s ease 0s;
  padding: 11px 20px;
}

.navbar li a:hover{
  color: #36393f;

}

li, a, button{
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
  color: #dcddde;
  text-decoration: none;
} 

.logo{
  width: 100;
  height: 100;
  cursor:pointer;
}

.logo:hover{
  animation: rotation 2s infinite linear;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

footer{
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #677bc4;
  height: 30px;
  font-size: 10px;
  margin-top: auto;
}

main{
  display: grid;
  border-style: solid;
  border-width: 1px;
  border: solid 1px #515151;
  height:100vh;
  border-color:#515151;
  height: 100vh;
}


#home{
  text-align: center;
  margin: 0 25px;
  font-size: 30px;
  font-weight: 700;
  color: #dcddde;
  text-decoration: none;
  
}


#p1{
  text-align: center;
  margin: 0 25px;
}

#credits{
  text-align: center;
  float:right;
}

.container{
  display: flex;
  flex-direction: row;
  padding: 0;
}

.game__sidebar{
  margin: 20px;
}
.game__sidebar a {
  align-self: left;
}

.games__table__container{
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.games__table__container tr{
  justify-content:space-between;
  align-items: center;
}

.games__table__container tr:hover{
  background-color: #515151;
}

.games__table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  
}

.games__table th, td{
  border: 1px solid #d5d5d5
}




#game-link-container{
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 30vw;
}

#game-link-container img{
  width:30vh;
  height: auto;
}

.game__sidebar p {
  text-align: left;
  font-size: 12px;
  padding: 5px;
  border-bottom: 1px solid #515151;
  max-width: 305px;
}
.game__about{
  font-size: 10px;
  padding: 20px;
}

.game__video{
  height: auto;
  padding-top: 20px;

  
}

.game__video video{
  width: 400px;
  height: auto;
}

#title{
  text-align: left;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 700;
  color: #dcddde;
  size: 100px;
  text-decoration: none;
  display: grid;
  border-top: 1px solid #515151;
  border-left: 1px solid #515151;
  border-right: 1px solid #515151;
  height: 40px;
  
}
#game__image{
  display: block;
  width: 67%;
  height: auto;
  
}

.text{
  font-size: 12px;
  font-weight: 500;
  color: #dcddde;
  text-decoration: none;
  margin: 20px;
}

.search__container{
  position: relative;
  display: inline-block;
  padding: 20px;
  width: 30vw;

}

.search-result-item {
  position: relative;
  display: flex;
  align-items: center;
}

.search-result-item {
  background-color:#515151;
}
.search-result-item:hover {
  background-color:#dcddde;
  color: #515151;
}
.search-dropdown{
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 20px;
  height: 40px;
  font-size: 10px;
  margin-top: auto;
  
}

.pagination .page-link{
  color: #dcddde;
  background-color: #515151;
  border-color: #515151;
  border-radius: 0;
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  width: 10vh;
}
.pagination .page-item.active .page-link {
  background-color: #515151;
  border-color: #515151;
}