*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-wrapper{
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 60px 1fr auto;
  grid-template-areas:
    "left-sidebar header right-sidebar"
    "left-sidebar content right-sidebar"
    "footer footer footer ";
  height: 100vh;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}


.body{
  background-color: #151515;
  color: #d5d5d5;
  display: flex;
  flex-grow: 1;
}

li, a, button{
  font-family: 'Roboto', sans-serif, cursive;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
  color: #dcddde;
  text-decoration: none;
}

.navbar{
  grid-area: header;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #677bc4;  
}

.navbar li{
  align-self: center;
  margin: 0 25px;
  padding: 11px 20px;
  height: 60px;
}


.navbar li a{
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.navbar li a:hover{
  color: #36393f;
  text-decoration: none;
}

.left-sidebar{
  grid-area: left-sidebar;
  width: 240px;
  background: #677bc4;
  color: white;
}
.right-sidebar{
  grid-area: right-sidebar;
  width: 240px;
  background: #677bc4;
  color: white;
}


.content{
  grid-area: content;
  padding: 20px;
  width: 100%;
}

footer{
  grid-area: footer;
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 5px 20px;
  text-align: right;
  background-color: #677bc4;
  height: 60px;
  font-size: 10px;
}


.logo{
  width: 240;
  height: 60;
  cursor:pointer;
  border-radius: 15px;
}


#home{
  text-align: center;
  margin: 0 25px;
  font-size: 30px;
  font-weight: 700;
  color: #dcddde;
  text-decoration: none;
}

#p1{
  text-align: center;
  margin: 0 25px;
}

#credits{
  text-align: center;
  float:right;
}

.container{
  display: flex;
  flex-direction: row;
  padding: 0;
}


.games__table__container{
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 75vh;
  overflow-y: auto;
}

.games__table__container tr{
  justify-content:space-between;
  align-items: center;
}

.games__table__container tr:hover{
  background-color: #515151;
}

.games__table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 100%;
}

.games__table th, td{
  border: 1px solid #d5d5d5;
}

#game-link-container{
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 200px;
}

#game-link-container img{
  width:360px;
  height: auto;
}

#game-link-container a{
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.game__about{
  font-size: 10px;
  padding: 20px;
}

.game__video{
  height: auto;
  padding-top: 20px;
}

.game__video video{
  width: 400px;
  height: auto;
}

#title{
  text-align: left;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 700;
  color: #dcddde;
  text-decoration: none;
  display: grid;
  border: 1px solid #515151;
  height: 40px;
}

#game__image{
  display: block;
  width: 67%;
  height: auto;
}

.text{
  font-size: 12px;
  font-weight: 500;
  color: #dcddde;
  text-decoration: none;
  margin: 20px;
}

.sidebar-content{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
  color: #dcddde;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease 0s;
}

.search__container{
  position: relative;
  display: inline-block;
  width: 240px;
}

.search-result-item {
  position: relative;
  display: flex;
  align-items: center;
  background-color:#515151;
}

.search-result-item:hover {
  background-color:#dcddde;
  color: #515151;
}

.search-dropdown{
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  max-width: 30vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.search_bar{
  width: 60%;
  padding: 10px;
  box-sizing: border-box;
}
.search_filter_container{
  width: 240px;
  display: inline-block;
  justify-content: space-between;
}

.genre_filter_container{
  height: 200px;
  width: auto;
  overflow-y: auto;
  display: inline-block;
  justify-content: space-between;
}

.publisher_filter_container{
  height: 200px;
  width: auto;
  overflow-y: auto;
  display: inline-block;
  justify-content: space-between;
}


.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 20px;
  height: 40px;
  font-size: 10px;
  margin-top: auto;
}

.pagination .page-link{
  color: #dcddde;
  background-color: #515151;
  border-color: #515151;
  border-radius: 0;
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  height: 30px;
}

.pagination .page-link:hover{
  color: #515151;
  background-color: #dcddde;
  border-color: #515151;
}

#genre-search-container {
  position: relative;
  text-align: center;
  width: 240px;
}

#genre-search-container input[type="text"] {

  padding: 10px;
  box-sizing: border-box;
}

#genre-bar {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  width: 100%;
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#filter-dropdown input[type="checkbox"] {
  margin-right: 10px;
}

#filter-dropdown input[type="checkbox"] + label {
  display: inline-block;
  width: calc(100% - 26px);
}

#filter-dropdown li:hover{
  background-color: #dcddde;
  color: #515151;
}