{% extends 'layout.html' %}

{% block title %} Home {% endblock %}
{% block content %}
<h2>Home</h2>
<p>Welcome to CS235 Game Library! Enjoy an extensive collection of nearly 1000 games and connect with our thriving
    online community. Explore a
    diverse genre of games, such as Adventure, Indie, Strategy and much more. Keep up to date with new game releases, or
    discover timeless classics
    from the past.</p>
<h2>Game Reviews</h2>
<p>Unsure about a certain game or wanting to share your gaming experience? Express your thoughts and experience through
    our review system or
    gain insights and opinions from fellow gamers. Join and interact with our active gaming community and find your
    favourite games!
</p>
<h2>Personalised Wishlists</h2>
<p>Create your own personalised wishlist of games and know when to expect discounts and special offers. Here, you can
    save your favourite games
    and see what others have in their wishlists.</p>
<P>Join our online community of like-minded gamers and explore new favourites today!</P>
{% endblock %}