<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Games</title>
    <link rel="stylesheet" href="../../static/css/main.css" />
</head>
<body>
    <header id="header">
        <h1>CS235 2023: My Game Library</h1>
        {% include 'navigation.html' %}
    </header>
    <h1>Total Games - {{ num_games }}</h1>
    <div class="game__table">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TITLE</th>
                    <th>IMAGE</th>
                    <th>Release Date</th>
                </tr>
            </thead>

            <tbody>
                {% for game in games %}
                <tr>
                    <td>
                        {{ game.game_id }}
                    </td>
                    <td>
                        {{ game.title }}
                    </td>
                    <td>
                        <img src="{{ game.image }}"></img>
                    <td>
                        {{ game.release_date }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'footer.html' %}
</body>
</html>