<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Games</title>
    <link rel="stylesheet" href="../../static/css/main.css" />
</head>
<body>
    <header id="header">
        <h1>CS235 2023: My Game Library</h1>
        <div class="copyright">kyao733 | jsie347 | mfu466</div>
    </header>
    <h1>Total Games - {{ num_games }}</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>Release Date</th>
            </tr>
        </thead>

        <tbody>
            {% for game in games %}
            <tr>
                <td>
                    {{ game.game_id }}
                </td>
                <td>
                    {{ game.title }}
                </td>
                <td>
                    {{ game.game_url }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>