{% extends 'layout.html' %}
{% block title %} {{ game.title }} {% endblock %}
{% block sidebar_content %}
<a href="{{url_for('games_bp.browse_games')}}"> go back</a>
{% endblock %}
{% block content %}
<h1 id="title">{{game.title}}</h1>
    <main>
        <div class="container">
            <div class="game__sidebar">
                <img id="game__image" src="{{game.image_url}}" alt="{{game.title}}" />
                <p><strong>Release Date:</strong> {{game.release_date}}</p>
                <p><strong>Publisher:</strong> {{game.publisher.publisher_name}}</p>
            <p><strong>Genres:</strong> 
                {% for genre in game.genres %}
                {{genre.genre_name}}{{ ", " if not loop.last else "" }}

                {% endfor %}
            </p>
            </div>
            <div class="game__video">
                {% if game.video_url %}
                <video src="{{game.video_url}}" controls></video>
                {% else %}
                <p>No video available</p>
                {% endif %}
            </div>
        </div>
        <div class="game__about">
            <p><strong>About:</strong> {{game.description}}</p>
        </div>

        {% if 'username' in session %}
        {% if game not in favourite_games %}
        <div id="add_to_wishlist">
            <form action="{{url_for('description_bp.add_to_wishlist_endpoint', game_id=game.game_id)}}" method="POST">
                <input type="submit" value="Add to Wishlist">
            </form>
        </div>
        {% else %}
        <div id="remove_from_wishlist">
            <form action="{{url_for('description_bp.remove_from_wishlist_endpoint', game_id=game.game_id)}}" method="POST">
                <input type="submit" value="Remove from Wishlist">
            </form>
        </div>
        {% endif %}
        {% endif %}



    </main>
{% endblock %}

