{% extends 'layout.html' %}
{% block title %} {{ game.title }} {% endblock %}
{% block content %}
<h1 id="title">{{game.title}}</h1>
    <div class="container">
            <div class="game__sidebar">
                <img id="game__image" src="{{game.image_url}}" alt="{{game.title}}" />
                <p><strong>Release Date:</strong> {{game.release_date}}</p>
                <p><strong>Publisher:</strong> {{game.publisher.publisher_name}}</p>
            <p><strong>Genres:</strong> 
                {% for genre in game.genres %}
                {{genre.genre_name}}
                {% endfor %}
            </p>
            </div>
            <div class="game__video">
                <video src="{{game.video_url}}" controls></video>
            </div>
        </div>
        <div class="game__about">
            <p><strong>About:</strong> {{game.description}}</p>
        </div>
{% endblock %}

